<!DOCTYPE html>
<html>
    <head>
        <title>
            About Page
        </title>
    </head>
    <body>
        <h1>About Page</h1>
        <p>
            This is our about page
        </p>
        <h1>Menu List</h1>
        <ul>
            <li>
                <a href="/">Home Page</a>
            </li>
            <li>
                <a href="/about">About Page</a>
            </li>
            
        </ul>
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    {{name}}
                </td>
            </tr>
            <tr>
                <td>
                    Mobile
                </td>
                <td>
                    {{mobile}}
                </td>
            </tr>
            <tr>
                <td>
                    Address
                </td>
                <td>
                    {{address}}
                </td>
            </tr>
        </table>
    </body>
</html>