<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        <h1>Home Page</h1>
        <p>
            Welcome to CodeMines Computer
        </p>
        <h1>Menu List</h1>
        <ul>
            <li>
                <a href="/">Home Page</a>
            </li>
            <li>
                <a href="/about?name=CodeMines Computer&mobile=9167519953&address=bhayander east">About Page</a>
            </li>
            
        </ul>
    </body>
</html>