<!DOCTYPE html>
<html>

<head>
    <title>Registration</title> 
</head>

<body>
    <h1>Registration Page</h1>
    <form method="post" action="/registration">
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" name="txtName" />
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="text" name="txtEmail" />
                </td>
            </tr>
            <tr>
                <td>
                    Mobile
                </td>
                <td>
                    <input type="text" name="txtMobile" />
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="text" name="txtPassword" />
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>

</body>

</html>