<!DOCTYPE html>
<html>
    <head>
        <title>
            About Page
        </title>
    </head>
    <body>
        <h1>About Page</h1>
        <p>
            This is our about page
        </p>
        <h1>Menu List</h1>
        <ul>
            <li>
                <a href="/">Home Page</a>
            </li>
            <li>
                <a href="/about">About Page</a>
            </li>
            <li>
                <a href="/contact">Contact Page</a>
            </li>
        </ul>
    </body>
</html>